CALIBRE_SERVER_CONFIG_DIR=/home/elk/.config/calibre
CALIBRE_SERVER_CACHE_DIR=/home/elk/.cache/calibre
CALIBRE_SERVER_CONFIG_FILE=/home/elk/.config/calibre/calibre-server.config
CALIBRE_SERVER_SHELL_FILE=/home/elk/.config/calibre/calibre-server.sh
CALIBRE_SERVER_SERVICE_FILE=/home/elk/.config/calibre/calibre-server.service
CALIBRE_SERVER_LOG_FILE=/home/elk/.cache/calibre/calibre-server.log
CALIBRE_SERVER_ACCESS_LOG_FILE=/home/elk/.cache/calibre/calibre-server-access.log
LIBS_SERVER_DIR=/srv/calibre

