[Unit]
Description=calibre Content server
After=network.target

[Service]
Type=simple
User=ab
Group=ab
WorkingDirectory=LIBS_SERVER_DIR
EnvironmentFile=CALIBRE_SERVER_CONFIG_FILE
ExecStart=CALIBRE_SERVER_SHELL_FILE

[Install]
WantedBy=multi-user.target
