[Unit]
Description=calibre Content server
After=network.target

[Service]
Type=simple
User=32767
Group=32767
WorkingDirectory=/home/elk/Develop/calibre-server
EnvironmentFile=/home/elk/Develop/calibre-server/calibre.config
ExecStart=/home/elk/Develop/calibre-server/calibre-server.sh

[Install]
WantedBy=multi-user.target

